body{
  text-align: center;
  font-family: "Verdana";
  font-size: 15;
}
.authDiv {
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  min-width: 261px;
}

.authForm{
  padding: 10px;
}
input{
  width: 100%;
  text-align: center;
  height: 30px;
  font-family: "Verdana";
  font-size: 15;
}
.inputsDiv{
  width: 50%;
  margin: 0 auto;
  display: block;
  clear: both;
  border-radius: 25px;
}
button{
  margin: 10px;
  height: 30px;
  font-family: "Verdana";
  font-size: 15;
}